<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.submission5_androidexpert">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission android:name="com.example.submission5_androidexpert.provider.READ_WRITE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup, GoogleAppIndexingWarning, ExportedService, ExportedReceiver">
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.SEARCH" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>
        <activity
            android:name=".activity.DetailActivity"
            android:parentActivityName=".activity.MainActivity"/>
        <activity
            android:name=".activity.ReminderSettingActivity"
            android:parentActivityName=".activity.MainActivity" />

        <service
            android:name=".widget.FavMovieWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
        <service
            android:name=".widget.FavTvShowWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <receiver
            android:name=".reminder.ReminderReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver android:name=".widget.FavoriteMovieWidget"
            android:label="@string/fav_movie_widget_banner">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/favorite_movie_widget_info" />
        </receiver>
        <receiver android:name=".widget.FavoriteTvShowWidget"
            android:label="@string/fav_tvshow_widget_banner">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/favorite_tv_show_widget_info" />
        </receiver>

        <provider
            android:name=".provider.FavoriteProvider"
            android:authorities="com.example.submission5_androidexpert.provider"
            android:enabled="true"
            android:exported="true"
            android:permission="com.example.submission5_androidexpert.provider.READ_WRITE" />
    </application>

</manifest>